<!-- <header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px" class="fas fa-shipping-fast">&nbsp; </i>
      <strong style="font-size: 30px">Flipkart</strong>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchTerm"
          (keyup)="search($event)"
          placeholder="search products"
        />
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button routerLink="cart" class="btn btn-primary">
      <i style="font-size: 30px" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px" class="badge bg-danger">{{ totalItem }}</div>
    </button>
  </div>
</header> -->

<header>
  <img class="logo" src="assets/3.png" alt="" routerLink="/products" />
  <input
    [(ngModel)]="searchTerm"
    (keyup)="search($event)"
    type="text"
    placeholder="Search..."
    class="fix"
  />
  <span id="g-search-button"> <i class="fa fa-search fa-2x icon"></i></span>
  <nav>
    <ng-container
      *ngIf="adminLogin.isLoggedIn(); then elseBlock; else thenBlock"
    ></ng-container>

    <ng-template #thenBlock>
      <!-- <div class="dropdown">
        <button class="header--nav-login">
          <h3>Login</h3>
        </button>
        <div class="dropdown-content">
          <button routerLink="/admin-login" class="btn btn-primary">
            Admin</button
          ><br />
          <button routerLink="/login" class="btn btn-primary">User</button
          ><br />
          <button routerLink="/retailer-login" class="btn btn-primary">
            Retailer
          </button>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block decor">
            <button
              type="button"
              class="btn btn-outline-light"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Login
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button routerLink="/admin-login" ngbDropdownItem>Admin</button>
              <button routerLink="/login" ngbDropdownItem>User</button>
              <button routerLink="/retailer-login" ngbDropdownItem>
                Retailer
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <button
        routerLink="/products"
        (click)="clickFunction()"
        class="btn btn-success"
      >
        Log Out
      </button>
      <button routerLink="admin" class="btn btn-success">
        Hello {{ cookiee }}
      </button>

      <button routerLink="cart" class="btn btn-primary">
        <i style="font-size: 30px" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px" class="badge bg-danger">
          {{ totalItem }}
        </div>
      </button>
    </ng-template>
  </nav>
</header>
